
html{
    font-family: 'Open Sans',sans-serif;
    background: whitesmoke;
}
a{
    text-decoration: none;
    color: black;
}
hr{
    background: grey;
}
#container{
    position: relative;
    display: flex;
}
#profile{
    flex: 15%;
    display: block;
    position: relative;
    margin: 5% 2% 0 10%;
    width: 100%;
    height: 100%;
}
#info-cards{
    flex: 55%;
    display: block;
    margin-top: 5%;
    margin-right: 10%;
    width: 100%;
    height: 100%;
}
#image{
    position: relative;
    overflow: hidden;
}
#image,#profile-photo{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
#image > a{
    position: absolute;
    top:0;
    left:0;
    background: rgba(0,0,0,0.5) !important;
    height: 100%;
    width: 100%;
    display: none;
}
#image > a > i{
    -webkit-text-stroke: 1px #ffffffdd;
    padding: 40%;
}
#image:hover a{
    display: block;
}
#name{
    font-size: 23px !important;
    line-height: 20px !important;
}
#about,.card > ul > li{
    padding: 0 0 0 15px;
    position: relative;
    display: inline-block;
    width: 100%;
}
#about{
    font-size: 20px !important;
    padding: 0 !important;
}
#name, #about > p{
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
}
#email{
    font-size: 15px !important;
    font-weight: bold !important;
    font-family: 'Cutive Mono',monospace;
}
#college,#email,#year-graduation,#education,#more-about,#telephone,#fax{
    color: #555;
    font-size: 13.5px;
}
strong,span{
    color: black;
    font-size: 16px;
}
#social-links,#about{
    display: inline-block;
}
#social-links{
    margin-bottom: 12px;
}
#social-links a{
    margin: 0 10px;
}
#edit-intro{
    display: block;
    color:#097bbf;
    font-family: 'Nunito', sans-serif;
}
.fab{
    font-size: 1.1em;
}
.fab,.fas{
    color: whitesmoke;
}
#about > a{
    top: 4px;
    right: 8px;
}
.edit{
    top: 19px;
    right: 10px;
}
#about > a, .edit{
    position: absolute;
    font-size: 15px !important;
}
.stroke-transparent {
 -webkit-text-stroke: 1px #000;
 -webkit-text-fill-color: transparent;
}
.blue{
    color: #097bbf !important;
    font-size: 13px;
}
.stroke-transparent-blue {
 -webkit-text-stroke: 1px #097bbf;
 -webkit-text-fill-color: transparent;
}
.card{
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
    overflow-x: hidden;
    margin-bottom: 30px;
    padding: 15px 30px 30px 30px;
    background-color: #fff;
}
.card > p{
    color: #0e141e;
    font-weight: bolder;
    font-size: 18px;
    line-height: 2;
}
.card > p > i{
    font-size: 18px;
}
.card > a{
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    margin-left: 25px;
    padding: 0;
    border: 0;
    height: auto;
    background: transparent;
    color: #097bbf;
    outline: none;
    cursor: pointer;
}
.card > ul{
    list-style-type: none;
}
.tags{
    font-size: 17px;
    font-weight: bolder;
}
.tags ~ a{
    display: none !important;
}
.tags span{
    font-size: 14px;
    font-weight: normal;
    color: #0e141e;
}
.tags span span{
    color: #738f93;
}
@media screen and (max-width:1090px){
    #profile{
        margin-left: 5%;
    }
}
@media screen and (max-width:850px){
    #container{
        display: block;
    }
    #profile{
        width: 90%;
    }
.resume {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 13.0736px;
  font-weight: 400;
  line-height: 1.5;
  min-height: 1090.41px;
}
.resume h1 {
  font-size: 2.86em;
  font-weight: 600;
  letter-spacing: -0.5px;
}
.resume h2 {
  font-size: 1.43em;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0;
}
.resume p {
  margin-bottom: 1em;
}
.resume p:last-child {
  margin-bottom: 0;
}
.resume ul {
  padding-left: 20px;
}
.resume .resume__header,
.resume .resume__section {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95em;
}
.resume .resume__header {
  padding: 6em 4em 0;
}
.resume .resume__section {
  margin-bottom: 4em;
}
.resume .resume__section:last-child {
  padding-bottom: 0;
}
.resume .resume__section-title {
  display: flex;
  align-items: center;
  margin-bottom: 1.43em;
}
.resume .resume__section-title > i {
  margin-right: 0.63em;
  font-size: 1.14em;
  background-color: #5695cd;
  color: #fff;
  border: 0.25em solid #aacae6;
  border-radius: 50%;
  width: 2.51em;
  height: 2.51em;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
}
.resume .resume__section-title > h2 {
  margin-top: 0;
  font-size: 1.5em;
}
.resume .resume__columns {
  overflow: hidden;
  padding: 4em;
  padding-top: 0;
}
.resume .resume__main {
  float: left;
  width: 75%;
  padding-right: 6em;
}
.resume .resume__side {
  float: left;
  width: 25%;
}
.resume .other-info p > b {
  color: #555;
}
.resume .info-item {
  margin-bottom: 0.2em;
  font-weight: 300;
}
.resume .info-item:last-child {
  margin-bottom: 0;
}
.resume .info-label {
  display: inline-block;
  padding-right: 0.63em;
  font-size: 1.14em;
  min-width: 2.19em;
  text-align: center;
}
.resume .info-label i {
  color: #5695cd;
}
.resume .xp-item {
  margin-bottom: 4em;
}
.resume .xp-item:last-child {
  margin-bottom: 0;
}
.resume .xp-job {
  font-size: 1.14em;
  font-weight: 600;
  line-height: 1.25;
}
.resume .xp-job span,
.resume .xp-job small {
  font-weight: 400;
}
.resume .xp-job small {
  font-size: 0.9em;
}
.resume .xp-date {
  font-size: 0.8em;
  margin-top: 0.3em;
  margin-bottom: 1em;
  color: #5695cd;
}
.resume .extra {
  margin-bottom: 2em;
}
.resume .extra:last-child {
  margin-bottom: 0;
}
.resume .extra-info small {
  color: #666;
  display: inline-block;
  font-size: 0.7em;
}
.resume .extra-details,
.resume .extra-details__progress {
  border-radius: 6px;
}
.resume .extra-details {
  margin-top: 0.5em;
  background-color: #d1d9e1;
  width: 100%;
  height: 5px;
  position: relative;
}
.resume .extra-details__progress {
  background-color: #5695cd;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
}
.resume .lang-item {
  margin-bottom: 2em;
}
.resume .lang-item:last-child {
  margin-bottom: 0;
}
.resume .lang-label {
  width: 8em;
}